Repository latticesurgery-com/lattice-surgery-compiler, pull requests merged in 2021-12, with the labels that each got.

#179 refactoring commute_pi_over_four_rotation
  src/lsqecc/pauli_rotations/circuit.py
  tests/pauli_rotations/circuit_test.py
Labels: testing, compiler

#181 Add more test cases for `PauliOpCircuit`
  debug/debug_basic_dependency_graph.py
  debug/debug_circuit_render_ascii.py
  src/lsqecc/pauli_rotations/circuit.py
  tests/pauli_rotations/circuit_test.py
Labels: testing, compiler

#192 Point to `dev` contributing guide
  README.md
Labels: documentation

#191 Convert opflow imports from aqua to qiskit core
  debug/debug_state_separator.py
  debug/util.py
  src/lsqecc/simulation/logical_patch_state_simulation.py
  src/lsqecc/simulation/qiskit_opflow_utils.py
Labels: compiler
