Repository latticesurgery-com/lattice-surgery-compiler, pull requests merged in 2021-11, with the labels that each got.

#133 Removing web/ and webgui/
  web/WEB_README.MD
  web/db.sqlite3
  web/deploy.sh
  web/lattice_main/.gitignore
  web/lattice_main/__init__.py
  web/lattice_main/admin.py
  web/lattice_main/apps.py
  web/lattice_main/migrations/__init__.py
  web/lattice_main/models.py
  web/lattice_main/render_to_file.py
  web/lattice_main/static/lattice_main/favicon.jpg
  web/lattice_main/static/lattice_main/fonts/Aquire-BW0ox.otf
  web/lattice_main/static/lattice_main/fonts/AquireBold-8Ma60.otf
  web/lattice_main/static/lattice_main/fonts/AquireLight-YzE0o.otf
  web/lattice_main/static/lattice_main/info.txt
  web/lattice_main/static/lattice_main/lattice_view_example.png
  web/lattice_main/static/lattice_main/main.css
  web/lattice_main/styles_map.py
  web/lattice_main/templates/lattice_main/base.html
  web/lattice_main/templates/lattice_main/index.html
  web/lattice_main/templates/lattice_main/lattice_view.html
  web/lattice_main/templates/lattice_main/upload_circuit.html
  web/lattice_main/templatetags/__init__.py
  web/lattice_main/templatetags/lattice_main_tags.py
  web/lattice_main/tests.py
  web/lattice_main/tmp/dummy.txt
  web/lattice_main/urls.py
  web/lattice_main/views.py
  web/lattice_surgery_web/__init__.py
  web/lattice_surgery_web/asgi.py
  web/lattice_surgery_web/settings.py
  web/lattice_surgery_web/settings_render_to_file.py
  web/lattice_surgery_web/urls.py
  web/lattice_surgery_web/wsgi.py
  web/manage.py
  webgui/call_deploy.sh
  webgui/deploy.sh
  webgui/lattice_view.py
  webgui/serve.py
  webgui/static/lattice_view_example.png
  webgui/templates/lattice_view.mak
  webgui/templates/upload_circuit.mak
Labels: refactor

#136 Make the source Mypy compliant
  lsqecc/lattice_array/sparse_lattice_to_array.py
  lsqecc/logical_lattice_ops/dependency_graph.py
  lsqecc/logical_lattice_ops/logical_lattice_ops.py
  lsqecc/patches/ancilla_region_routing.py
  lsqecc/patches/lattice_surgery_computation_composer.py
  lsqecc/patches/patches.py
  lsqecc/pauli_rotations/circuit.py
  lsqecc/pauli_rotations/rotation.py
  lsqecc/simulation/conditional_operation_control.py
  lsqecc/simulation/logical_patch_state_simulation.py
  lsqecc/simulation/qubit_state.py
  webapi/local_compiler_api_server.py
Labels: refactor

#137 Adding setup configurations
  .flake8
  pyproject.toml
  requirements.txt
  setup.cfg
  setup.py
Labels: enhancement

#139 Flake8 and isort Refactor
  .flake8
  README.md
  lsqecc/lattice_array/sparse_lattice_to_array.py
  lsqecc/lattice_array/visual_array_cell.py
  lsqecc/logical_lattice_ops/dependency_graph.py
  lsqecc/logical_lattice_ops/logical_lattice_ops.py
  lsqecc/patches/ancilla_region_routing.py
  lsqecc/patches/lattice_surgery_computation_composer.py
  lsqecc/patches/patches.py
  lsqecc/pauli_rotations/circuit.py
  lsqecc/pauli_rotations/rotation.py
  lsqecc/pauli_rotations/segmented_qasm_parser.py
  lsqecc/pipeline/json_pipeline.py
  lsqecc/pipeline/lattice_surgery_compilation_pipeline.py
  lsqecc/simulation/conditional_operation_control.py
  lsqecc/simulation/logical_patch_state_simulation.py
  lsqecc/simulation/qiskit_opflow_utils.py
  lsqecc/simulation/qubit_state.py
  lsqecc/utils.py
  webapi/local_compiler_api_server.py
Labels: refactor

#141 Adding LGPL v2.1 License
  LICENSE
  lsqecc/__init__.py
  lsqecc/lattice_array/__init__.py
  lsqecc/lattice_array/sparse_lattice_to_array.py
  lsqecc/lattice_array/visual_array_cell.py
  lsqecc/logical_lattice_ops/__init__.py
  lsqecc/logical_lattice_ops/dependency_graph.py
  lsqecc/logical_lattice_ops/logical_lattice_ops.py
  lsqecc/patches/__init__.py
  lsqecc/patches/ancilla_region_routing.py
  lsqecc/patches/lattice_surgery_computation_composer.py
  lsqecc/patches/patches.py
  lsqecc/pauli_rotations/__init__.py
  lsqecc/pauli_rotations/circuit.py
  lsqecc/pauli_rotations/rotation.py
  lsqecc/pauli_rotations/segmented_qasm_parser.py
  lsqecc/pipeline/__init__.py
  lsqecc/pipeline/json_pipeline.py
  lsqecc/pipeline/lattice_surgery_compilation_pipeline.py
  lsqecc/simulation/__init__.py
  lsqecc/simulation/conditional_operation_control.py
  lsqecc/simulation/logical_patch_state_simulation.py
  lsqecc/simulation/qiskit_opflow_utils.py
  lsqecc/simulation/qubit_state.py
  lsqecc/utils.py
  setup.cfg
  webapi/local_compiler_api_server.py
Labels: documentation

#143 Integrate `pre-commit`
  .pre-commit-config.yaml
  README.md
Labels: enhancement

#145 Relocate compiler code to `src/lsqecc` and add testing directory
  .gitignore
  pyproject.toml
  setup.cfg
  src/lsqecc/__init__.py
  src/lsqecc/lattice_array/__init__.py
  src/lsqecc/lattice_array/sparse_lattice_to_array.py
  src/lsqecc/lattice_array/visual_array_cell.py
  src/lsqecc/logical_lattice_ops/__init__.py
  src/lsqecc/logical_lattice_ops/dependency_graph.py
  src/lsqecc/logical_lattice_ops/logical_lattice_ops.py
  src/lsqecc/patches/__init__.py
  src/lsqecc/patches/ancilla_region_routing.py
  src/lsqecc/patches/lattice_surgery_computation_composer.py
  src/lsqecc/patches/patches.py
  src/lsqecc/pauli_rotations/__init__.py
  src/lsqecc/pauli_rotations/circuit.py
  src/lsqecc/pauli_rotations/rotation.py
  src/lsqecc/pauli_rotations/segmented_qasm_parser.py
  src/lsqecc/pipeline/__init__.py
  src/lsqecc/pipeline/json_pipeline.py
  src/lsqecc/pipeline/lattice_surgery_compilation_pipeline.py
  src/lsqecc/simulation/__init__.py
  src/lsqecc/simulation/conditional_operation_control.py
  src/lsqecc/simulation/logical_patch_state_simulation.py
  src/lsqecc/simulation/qiskit_opflow_utils.py
  src/lsqecc/simulation/qubit_state.py
  src/lsqecc/utils.py
  tests/__init__.py
Labels: refactor

#146 Add equalities for `PauliRotation` and `Measurement`
  src/lsqecc/pauli_rotations/rotation.py
  tests/lattice_array/__init__.py
  tests/logical_lattice_ops/__init__.py
  tests/patches/__init__.py
  tests/pauli_rotations/__init__.py
  tests/pauli_rotations/rotation_test.py
  tests/pipeline/__init__.py
  tests/simulation/__init__.py
Labels: enhancement

#148 Setup automated testing and dependabot
  .github/dependabot.yml
  .github/workflows/test.yml
  dev-requirements.txt
  pyproject.toml
  setup.cfg
  webapi/requirements.txt
Labels: enhancement

#153 Add documentation directory
  .flake8
  .github/workflows/test.yml
  .pre-commit-config.yaml
  CONTRIBUTING.md
  README.md
  docs/Makefile
  docs/make.bat
  docs/requirements.txt
  docs/source/api/index.md
  docs/source/conf.py
  docs/source/contributing.md
  docs/source/guide/index.md
  docs/source/guide/setup.md
  docs/source/index.md
  docs/source/license.md
  pyproject.toml
Labels: documentation

#165 Add test cases for `Measurement` and `PauliRotation`
  src/lsqecc/pauli_rotations/rotation.py
  tests/pauli_rotations/rotation_test.py
Labels: refactor, test

#166 Change the implementation of `PauliProductOperation`
  src/lsqecc/pauli_rotations/rotation.py
  tests/pauli_rotations/rotation_test.py
Labels: refactor

#169 Add automate labeling
  .github/labeler.yml
  .github/workflows/label.yml
Labels: enhancement

#170 Adding codecov
  .github/workflows/test.yml
  dev-requirements.txt
Labels: enhancement, testing

#168 Add tests for `__str__` and `to_latex()` for Measurement and PauliRotation
  src/lsqecc/pauli_rotations/circuit.py
  src/lsqecc/pauli_rotations/rotation.py
  tests/pauli_rotations/rotation_test.py
Labels: refactor, testing, compiler

#173 Add tests for DependencyGraph
  src/lsqecc/logical_lattice_ops/dependency_graph.py
  tests/logical_lattice_ops/dependency_graph_test.py
Labels: testing, compiler

#175 add `__hash__` for Measurement and PauliRotation
  src/lsqecc/pauli_rotations/rotation.py
  tests/pauli_rotations/rotation_test.py
Labels: testing, compiler

#152 Tests for `circuit.py`
  debug/debug_litinski_transform_seminar_example.py
  src/lsqecc/pauli_rotations/circuit.py
  tests/pauli_rotations/circuit_test.py
  tests/pauli_rotations/generate_tests_circuit.py
Labels: testing, compiler
