Repository latticesurgery-com/lattice-surgery-compiler, pull requests merged in 2022-01, with the labels that each got.

#197 StateSeparator Tests
  src/lsqecc/simulation/qiskit_opflow_utils.py
  tests/simulation/qiskit_opflow_utils_test.py
Labels: testing, compiler

#199 ProjectiveMeasurement tests
  src/lsqecc/simulation/logical_patch_state_simulation.py
  src/lsqecc/simulation/qiskit_opflow_utils.py
  tests/simulation/logical_patch_state_simulation_test.py
  tests/simulation/numpy_matrix_assertions.py
  tests/simulation/qiskit_opflow_utils_test.py
Labels: testing, compiler

#211 Qubit Mapper Tests
  src/lsqecc/simulation/logical_patch_state_simulation.py
  tests/simulation/logical_patch_state_simulation_test.py
Labels: testing, compiler

#213 Add LazyTensorOp
  src/lsqecc/simulation/lazy_tensor_op.py
  tests/simulation/lazy_tensor_op_test.py
Labels: testing, compiler

#214 Add missing fixes from #213
  src/lsqecc/simulation/lazy_tensor_op.py
  tests/simulation/lazy_tensor_op_test.py
Labels: testing, compiler

#185 Refactoring `remove_y_operators_from_circuit`
  debug/debug_litinski_transform_takes_up_space.py
  src/lsqecc/pauli_rotations/circuit.py
  src/lsqecc/pauli_rotations/rotation.py
  src/lsqecc/pipeline/lattice_surgery_compilation_pipeline.py
  tests/pauli_rotations/rotation_test.py
Labels: refactor, testing, compiler

#216 Llops helper class tests
  tests/logical_lattice_ops/logical_lattice_ops_test.py
Labels: testing

#217 Test for `LogicalLatticeComputation`
  src/lsqecc/logical_lattice_ops/logical_lattice_ops.py
  tests/logical_lattice_ops/logical_lattice_ops_test.py
Labels: testing, compiler

#218 Enforce the first n patches to be the logical qubits, in order
  src/lsqecc/simulation/logical_patch_state_simulation.py
  tests/simulation/logical_patch_state_simulation_test.py
Labels: testing, compiler

#221 Update README.md with new logo and badges
  README.md
Labels: documentation

#224 fix to include isNegative attribute of measurements to llops
  src/lsqecc/logical_lattice_ops/logical_lattice_ops.py
  tests/logical_lattice_ops/logical_lattice_ops_test.py
Labels: testing, compiler

#222 Add backer's logos to readme
  README.md
Labels: documentation

#231 Remove Y's from all operators, not just pi/8 and measurements
  debug/debug_litinski_y_op_removal_bug.py
  src/lsqecc/pauli_rotations/circuit.py
  src/lsqecc/pauli_rotations/rotation.py
  tests/pauli_rotations/circuit_test.py
  tests/pauli_rotations/rotation_test.py
Labels: testing, compiler

#225 Update status in Readme
  README.md
Labels: documentation
